In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import KFold   #For K-fold cross validation
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import metrics
from sklearn.cross_validation import train_test_split

c:\users\dell\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
data=pd.read_csv("Loan Prediction_train.csv")
data.head()

,Unnamed: 0,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,1,0,5849,0.0,142.51153,360.0,1,2,1
1,1,1,1,1,1,0,4583,1508.0,128.00000,360.0,1,0,0
2,2,1,1,0,1,1,3000,0.0,66.00000,360.0,1,2,1
3,3,1,1,0,0,0,2583,2358.0,120.00000,360.0,1,2,1
4,4,1,0,0,1,0,6000,0.0,141.00000,360.0,1,2,1

In [3]:
def logr(x):
    outcome_var = 'Loan_Status'
    model = LogisticRegression()
    predictor_var = ['Credit_History','Education','Married','Self_Employed','Property_Area']
    model.fit(data[predictor_var],data[outcome_var])
    predictions = model.predict(data[predictor_var])
    #print(predictions)
   
    result=model.predict(x)
    return result

In [4]:
def linr():
    lreg=LinearRegression()
    X2=data['ApplicantIncome']
    Y2=data['LoanAmount']
    X2_train,X2_test,Y2_train,Y2_test=train_test_split(X2,Y2,test_size=0.2,random_state=5)
    X2_train=np.array(X2_train)
    X2_train=X2_train.reshape(-1,1)
    Y2_train=np.array(Y2_train)
    Y2_train=Y2_train.reshape(-1,1) 
    lreg.fit(X2_train,Y2_train)
    X2_test=np.array(X2_test)
    X2_test=X2_test.reshape(-1,1)
    pre=lreg.predict(X2_test)
    get=int(input("enter income:"))
    pre1=lreg.predict(get)

    return(pre1)

In [5]:
print("Welcome how we can help you")
print(''' Enter choice 
            1. To apply for loan
            2. To enquire about the amount of through income only
            ''')
ch=int(input())
if(ch==1):
    la=int(input("enter the loan amount you want to apply for:"))
    In=int(input("Enter your income"))
    cs1=int(input("enter credit score(zero for no and one for yes):"))
    cs2=int(input("enter education(zero for no and one for yes):"))
    cs3=int(input("enter marital status(zero for no and one for yes):"))
    cs4=int(input("enter self employed or not(zero for no and one for yes):"))
    cs5=int(input("enter Property area"))
    x=np.array([cs1,cs2,cs3,cs4,cs5])
    x=x.reshape(1,-1)
    ls=logr(x)
    
    if(ls==1):
        print("Eligible for the loan")
    else:
        print("Not eligible for the loan")
elif(ch==2):
    z=linr();
    print("\nYou can get amount: ",z)

Welcome how we can help you
 Enter choice
            1. To apply for loan
            2. To enquire about the amount of through income only

2
enter income:12345

You can get amount:  [[192.88579617]]